{% extends 'base.html' %}
{% block title %}Parolni o'zgartirish | X.A{% endblock %}
{% block mycontent %}
<style>
    body{
    background: linear-gradient(to right, #0062E6, #33AEFF);
    }
</style>
 <div class="container mt-5">
     <div class="row">
         <div class="col-md-6 offset-md-3">
                <div class="card shadow p-3">
                    <h1 class="text-center">Parolni o'zgartirish</h1>
                    <hr>
                    <form method="post" class="p-3">
                        {% csrf_token %}
                        <div class="form-group">
                            {%if status %}
                                <div class="alert {{col}}">
                                    {{status}}
                                </div>
                            {%endif%}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Avvalgi parolingizni kiriting:</label>
                            <input type="password" name="cpwd" class="form-control" placeholder="Avvalgi parolingizni kiriting. . . ">
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Yangi parolni kiriting:</label>
                            <input type="password" onkeyup="checkuser()" id="password1" name="npwd" class="form-control" placeholder="Yangi parolni kiriting. . . ">
                            <p id="resultpwd"></p>
                        </div>
                        <div class="form-group mt-3 ">
                            <label class="form-label">Tasdiqlovchi parol:</label>
                            <input type="password" onkeyup="checkuser()" id="password2" name="npwdc" class="form-control" placeholder="Tasdiqlovchi parolni kiriting. . .">
                        </div>
                        <input id="submitbtn" type="submit" class="btn btn-success mt-4" value="Parolni o'zgartirish">
                    </form>
                </div>
         </div>
     </div>
 </div>
<script>
function checkuser(){
  let pwd1=document.getElementById('password1').value;
  let pwd2=document.getElementById('password2').value;
  $.ajax({
    type:"get",
    url:"{% url 'check_user' %}",
    data:{},
    success:function(data){
        if(pwd1!==pwd2){
            $('#resultpwd').html('Birinchi parol tastiqlovchi parolga mos emas').addClass('text-danger');
            $('#password2').addClass('alert alert-danger');
            $('#submitbtn').attr('disabled','disabled');
        }
        else{
            $('#resultpwd').html('');
            $('#password2').removeClass('alert alert-danger');
            $('#submitbtn').removeAttr('disabled');
            $('#username').removeClass('alert alert-danger');
            $('#submitbtn').removeAttr('disabled','disabled');
        }
    }
  })
}


</script>
{% endblock %}