<!DOCTYPE html>
{% extends 'base.html'%}
{% block title %}Sahifa topilmadi | X.A{% endblock %}
{% block mycontent %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
  body{
    background: linear-gradient(to right, #0062E6, #33AEFF);
    }
</style>
<body>
<div class="container" style="width:500px;">

<div class="d-flex justify-content-center align-items-center" id="main" style="height:80vh;">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
    	<h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
        <h2 class="font-weight-normal lead" id="desc2" style="color:blue;">Qidirilgan sahifa topilmadi</h2>
        <div class="button">
            <a class="btn btn-warning justify-content-center" href="/dashboard">Ortga qaytish uchun bosing!</a>
        </div>
    </div>
</div>
</div>
</body>
</html>
{%endblock%}