{% extends 'base.html' %}
{% block title %}Parolni tiklash | X.A{% endblock %}
{% block mycontent %}
<style>
    body{
    background: linear-gradient(to right, #0062E6, #33AEFF);
    }
</style>
<div class="container mt-5" style="height:100vh;">
    <div class="row">
        <div class="col-md-5 p-4 offset-md-3">
            <div class="card shadow p-3">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group" id="result">

                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong>Foydalanuvchi nomini kiriting:</strong></label>
                        <input type="text" name="uname" id="username" class="form-control"
                                placeholder="Username...">
                    </div>
                    <button type="button" id="continue" onclick="check_user()" class="btn btn-warning mt-2">Davom etish</button>
                    <div class="form-group" id="matchotp" style="display:none;">
                        <label class="form-label mt-4"><strong>Parolni kiriting:</strong></label>
                        <input type="text" id="otp" class="form-control"
                                placeholder="Bir martalik parolni kiriting...">

                    <button type="button" id="confrim_pwd" onclick="match_otp()" class="btn btn-warning mt-2">Parolni tasdiqlash</button>
                    </div>
                    <input type="hidden" id="realotp">
                    <div class="form-group" id="new_password" style="display:none;">
                        <label class="form-label mt-4"><strong>Yangi Parolni kiring:</strong></label>
                        <input type="password" name="npwd" class="form-control"
                                placeholder="Yangi parol...">

                    <input type="submit" class="btn btn-success mt-2" value=" Parolni almshtirish va kabinetga kirish">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
function check_user(){
    let username=document.getElementById('username').value;
    $.ajax({
        url:"{% url 'reset_password'%}",
        type:"get",
        data:{username:username},
        success:function(data){
            console.log(data.status)
           if(data.status=="error"){
                $('#result').html("Bu foydalanuvchi hali ro'yxatdan o'tmagan !").addClass('alert alert-danger');
           }else if(data.status=='failed'){
                $('#result').html("Pochtaga xabar jo'ntishda xatolik yuz berdi ! aloqani tekshirib qaytadan urinib ko'ring").addClass('alert alert-danger');
           }else if(data.status=='sent'){
                 $('#result').removeClass('alert alert-danger');
                 $('#continue').hide();
                 $('#result').html("Pochtangizga kod jo'natildi").addClass('alert alert-success');
                 $('#matchotp').slideDown(1000);
                 $('#realotp').val(data.otp);
                }
            }
    })
}

function match_otp(){
    let realotp=document.getElementById('realotp').value;
    let otp=document.getElementById('otp').value;
    if(realotp==otp){
        $('#result').removeClass('alert alert-danger')
        $('#result').html('Muvaffaqiyatli tasdiqlandi!').addClass('alert alert-success');
        $('#matchotp').hide();
        $('#new_password').fadeIn(1000);
    }else{
        $('#result').html('Bir martalik kod xato kiritilgan')
                    .addClass('alert alert-danger');
    }
}
</script>
{% endblock %}